
@import url('crimson/crimson.css');


html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fcfafa;
    background: radial-gradient(#fcfafa, #e6e6e6);
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.game-container {
    font-family: 'Crimson', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 400px;
    max-width: 100%;
    width: 100%;
}

.game-container * {
    user-select: none;
    touch-action: none;
}

.letter-grid {
    width: 12rem;
    height: 12rem;
    display: block;
    margin: 0 auto;
    user-select: none;
    touch-action: none;
}

.letter-grid.cols-4 {
    width: 16rem;
    height: 16rem;
}


.letter-grid.cols-5 {
    width: 20rem;
    height: 20rem;
}

.progress {
    font-size: 1.2rem;
    font-variant-numeric: oldstyle-nums slashed-zero;
}

.progress-total {
    vertical-align: sub;
}
.progress-done {
    vertical-align: super;
}
    

.clue-section {
    text-align: center;
}

.grid-complete {
    text-align: center;
    padding: 1px;
    box-sizing: border-box;
    height: 12rem;
}
.grid-complete a {
    cursor: pointer;
}

.grid-complete h1 {
    font-weight: normal;
}

.clue-section .word-hint {
    line-height: 2rem;
}

.clue-section .word-hint .letter {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    margin: 0 0.1rem;
}

.letter-tile {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    font-size: 3rem;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    max-height: 4rem;
    overflow: hidden;
    line-height: 4rem;
    text-align: center;
    box-sizing: border-box;
}

.letter-tile.selected {
    font-weight: bold;
}
